
 @font-face {
 font-family: 'Oswald Light';
 src: url('..//fonts/oswald-light-webfont.eot?') format('eot'), 
      url('..//fonts/oswald-light-webfont.woff') format('woff'), 
      url('..//fonts/oswald-light-webfont.woff2') format('woff2'),
      url('..//fonts/Oswald-Light.ttf')  format('truetype'),
      url('..//fonts/oswald-light-webfont.svg#svgFontName') format('svg');
 }
  @font-face {
 font-family: 'Oswald Regular';
 src: url('..//fonts/oswald-regular-webfont.eot?') format('eot'), 
      url('..//fonts/oswald-regular-webfont.woff') format('woff'),
      url('..//fonts/oswald-regular-webfont.woff2') format('woff2')
      url('..//fonts/Oswald-Regular.ttf')  format('truetype'),
      url('..//fonts/oswald-regular-webfont.svg#svgFontName') format('svg');
 }